<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile [ngClass]="routeAnimationsElements" *ngFor="let group of groups">
        {{group.group_name}}
        <button mat-button (click)="openNetaDetails(group)">View</button>
        <button mat-button (click)="connectWithNeta(group)">Edit</button>
    </mat-grid-tile>
  </mat-grid-list>
<!-- <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="5px grid">
        <div fxFlex="20%" fxFlex.xs="50%" fxFlex.sm="33%" [ngClass]="routeAnimationsElements" *ngFor="let group of groups">
            <mat-card class="neta-container mat-elevation-z4">
                <mat-card-header class="neta-header">
                    <mat-card-title>{{group.group_name}} </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://avatars0.githubusercontent.com/u/3764868?v=4">
                <mat-card-actions class="neta-action">
                    <button mat-button (click)="openNetaDetails(group)">View</button>
                    <button mat-button (click)="connectWithNeta(group)">Edit</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div> -->