<div class="layout-wrapper landing {{config.dark ? 'landing-dark' : 'landing-light'}}">

    <div class="landing-intro">

        <section #containerElement class="landing-header pad-section" [ngClass]="{'landing-header-active': menuActive}">
            <span>
                <a href="">
                    <img src="assets/showcase/images/primeng-logo-{{config.dark ? 'light' : 'dark'}}.svg" alt="PrimeNG"
                        class="landing-header-logo">
                </a>
            </span>

            <div class="flex align-items-center">
                <nav class="scalein origin-top">
                    <ol
                        class="list-none m-0 p-0 flex flex-column lg:flex-row flex-wrap lg:flex-nowrap lg:align-items-center font-semibold">
                        <li class="mr-0 lg:mr-2 lg:hidden">
                            <a [routerLink]="['home']">
                                <img src="assets/showcase/images/landing/templates-icon.svg" alt="Primeng templates">
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="mr-0 lg:mr-2 lg:hidden">
                            <a [routerLink]="['netas']">
                                <img src="assets/showcase/images/landing/core-icon.svg" alt="Primeng core">
                                <span>Netas</span>
                            </a>
                        </li>
                        <li class="mr-0 lg:mr-2 lg:hidden">
                            <a [routerLink]="['admin-dashboard']">
                                <img src="assets/showcase/images/landing/blocks-icon.svg" alt="Primeng blocks">
                                <span>Admin</span>
                            </a>
                        </li>
                        <li class="mr-0 lg:mr-2 lg:hidden">
                            <a [routerLink]="['dashboard']">
                                <img src="assets/showcase/images/landing/designer-icon.svg" alt="Primeng designer">
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="mr-0 lg:mr-2 lg:hidden">
                            <a [routerLink]="['home']">
                                <img src="assets/showcase/images/landing/templates-icon.svg" alt="Primeng templates">
                                <span>Settings</span>
                            </a>
                        </li>

                        <p-overlayPanel #op>
                            <ng-template pTemplate>
                                Hi
                                <span *ngIf="language$ | async as language">
                                    <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">
                                        <mat-option *ngFor="let l of languages" [value]="l">
                                            {{ l }}
                                        </mat-option>
                                    </mat-select>
                                </span>
                            </ng-template>
                        </p-overlayPanel>

                    </ol>
                </nav>

                <a *ngIf="(stateService.appSettingsSubject | async)?.uid" (click)="userop.toggle($event)" class="mr-2">
                    User
                </a>

                <a *ngIf="!(stateService.appSettingsSubject | async)?.uid" (click)="openLoginDialog()"
                    rel="noopener noreferrer"
                    class="linkbox p-0 header-button mr-2 flex align-items-center justify-content-center flex-shrink-0">
                    <i class="pi pi-github"></i>
                </a>

                <a *ngIf="language$ | async as language" class="ml-2">
                    {{language.toUpperCase()}}
                </a>

                <span *ngIf="language$ | async as language" class="mr-2">
                    <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">
                        <mat-option *ngFor="let l of languages" [value]="l">
                            {{ l.toUpperCase() }}
                        </mat-option>
                    </mat-select>
                </span>

                <button type="button"
                    class="linkbox header-button inline-flex align-items-center justify-content-center"
                    (click)="toggleDarkMode()">
                    <i class="pi pi-{{config.dark ? 'sun' : 'moon'}}"></i>
                </button>
                <button
                    class="linkbox header-button inline-flex align-items-center justify-content-center ml-2 menu-button"
                    (click)="menuActive = !menuActive">
                    <i class="pi pi-bars"></i>
                </button>
            </div>
        </section>


        <p-overlayPanel [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #userop [dismissable]="true"
            [showCloseIcon]="true">
            <ng-template pTemplate>
                <button type="button"
                    class="linkbox header-button inline-flex align-items-center justify-content-center"
                    (click)="onLogoutClick()">
                    Logout
                </button>

            </ng-template>
        </p-overlayPanel>

        <section class="landing-hero flex align-items-center flex-column justify-content-center relative"
            [ngClass]="{'hero-animation': setAnimation}">
            <div class="hero-inner z-2 relative">
                <div class="flex flex-column md:align-items-center md:flex-row">
                    <div class="p-2 flex flex-row md:flex-column">
                        <a [routerLink]="'visualize'">
                            <div
                                class="hero-box w-10rem h-10rem md:w-12rem md:h-10rem animation flex align-items-center justify-content-center">
                                <div class="flex flex-column align-items-center">
                                    <img src="assets/showcase/images/landing/templates-icon.svg"
                                        alt="primeng templates" />
                                    <div class="name">
                                        <b>Visualize</b>
                                        <span>1800+ Datasets</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a [routerLink]="['netas']">
                            <div
                                class="hero-box w-10rem h-10rem md:w-12rem md:h-10rem animation ml-4 md:ml-0 md:mt-4 flex align-items-center justify-content-center">
                                <div class="flex flex-column align-items-center">
                                    <img src="assets/showcase/images/landing/designer-icon.svg"
                                        alt="primeng templates" />
                                    <div class="name">
                                        <b>Self-Governance</b>
                                        <span>1500+ Services</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 flex flex-row md:flex-column">
                        <a [routerLink]="'news'">
                            <div
                                class="hero-box w-10rem h-10rem md:w-12rem md:h-10rem animation flex align-items-center justify-content-center">
                                <div class="flex flex-column align-items-center">
                                    <img src="assets/showcase/images/landing/core-icon.svg" alt="primeng core" />
                                    <div class="name">
                                        <b>News</b>
                                        <span>80+ Media Houses</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a [routerLink]="['home']">
                            <div
                                class="hero-box w-10rem h-10rem md:w-12rem md:h-10rem animation logo hidden md:flex my-4 align-items-center justify-content-center">
                                <div class="hero-box-inner text-center">
                                    <img src="assets/showcase/images/landing/overview-icon.svg" alt="primeng main" />
                                    <div class="name flex flex-column">
                                        <b class="font-bold mb-1">Organize</b>
                                        <b class="font-bold">Campaign Manager</b>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a [routerLink]="['blog']">
                            <div
                                class="hero-box w-10rem h-10rem md:w-12rem md:h-10rem animation flex ml-4 md:ml-0 align-items-center justify-content-center">
                                <div class="flex flex-column align-items-center">
                                    <img src="assets/showcase/images/landing/css-icon.svg" alt="primeng icons" />
                                    <div class="name">
                                        <b>Blog</b>
                                        <span>100+ Authors</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 flex flex-row md:flex-column">
                        <a [routerLink]="'netas'">
                            <div
                                class="hero-box w-10rem h-10rem md:w-12rem md:h-10rem animation flex align-items-center justify-content-center">
                                <div class="flex flex-column align-items-center">
                                    <img src="assets/showcase/images/landing/blocks-icon.svg" alt="primeng templates" />
                                    <div class="name">
                                        <b>Explore</b>
                                        <span>3000+ Netas</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a [routerLink]="['store']">
                            <div
                                class="hero-box w-10rem h-10rem md:w-12rem md:h-10rem animation flex ml-4 md:ml-0 md:mt-4 align-items-center justify-content-center">
                                <div class="flex flex-column align-items-center">
                                    <img src="assets/showcase/images/landing/icons-icon.svg" alt="primeng templates" />
                                    <div class="name">
                                        <b>Store</b>
                                        <span>2000+ Merchandize</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="hero-border-top hidden md:block"></div>
                <div class="hero-border-left hidden md:block"></div>
                <div class="hero-border-right hidden md:block"></div>
            </div>

            <section
                class="landing-getstarted flex flex-column md:flex-row align-items-center justify-content-center mt-4 z-1">

                <a class="linkbox active font-semibold py-3 px-4 fadeinleft animation-duration-2000 animation-ease-out"
                    [routerLink]="'home'">
                    Get Started
                    <i class="pi pi-arrow-right ml-3"></i>
                </a>

                <div
                    class="box download-box font-medium p-3 px-4 mt- md:mt-0 md:ml-3 bg-transparent inline-flex align-items-center fadeinright animation-duration-2000 animation-ease-out">
                    <i class="download-icon pi pi-download mr-3"></i>
                    <span class="font-bold" :style="{fontFamily:'monaco'}" [routerLink]="'netas'">Explore</span>
                </div>
            </section>

            <div class="hero-bg absolute top-0 left-0 right-0 bottom-0 z-0">
                <div class="hero-strip-top"></div>
                <div class="hero-strip-left"></div>
            </div>
        </section>
    </div>

    <div class="">
        <app-footer></app-footer>
    </div>

</div>