.mat-card-image {
    margin-bottom: 0px;
    width: 80%;
}

.mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
    margin: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button,
.mat-card-actions .mat-stroked-button {
    margin: 0 0px;
}

.content {
    padding: 5px
}

.neta-container {
    text-align: center;
}

.neta-header {
    display: flex;
}

.neta-action {
    display: flex;
}