<form [formGroup]="netaForm">
    <mat-form-field>
        <mat-label>Problem</mat-label>
        <mat-select formControlName="problem">
            <mat-option>-- None --</mat-option>
            <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name" [disabled]="group.disabled">
                <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
                    {{pokemon.viewValue}}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>SubProblem</mat-label>
        <mat-select formControlName="subproblem">
            <mat-option>-- None --</mat-option>
            <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name" [disabled]="group.disabled">
                <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
                    {{pokemon.viewValue}}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>

    <mat-radio-group formControlName="department" fxLayout="column" fxLayoutGap=".25rem">
        <mat-radio-button [value]="'transport'">Transport</mat-radio-button>
        <mat-radio-button [value]="'electricity'">Electricity</mat-radio-button>
    </mat-radio-group>

</form>