<div class="app-container">
    <div class="main-area">

        <div class="main-area-header">
            <div class="search-wrapper" id="searchLine">
                <input class="search-input" type="text" placeholder="Search" />
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
                    <defs />
                    <circle cx="11" cy="11" r="8" />
                    <path d="M21 21l-4.35-4.35" />
                </svg>
            </div>
        </div>

        <section class="content-section">
            <h1 class="section-header">Netas For you</h1>
        </section>

    </div>
</div>

<app-netas-list
 (connectNeta)="handleMessageNeta($event)"
 (viewNetaDetails)="handleViewNetaDetails($event)"
 [netas]="allNetas$ | async"
 ></app-netas-list>