<div class="layout-wrapper landing {{config.dark ? 'landing-dark' : 'landing-light'}}">

    <div class="">

        <section #containerElement class="landing-header pad-section" [ngClass]="{'landing-header-active': menuActive}">
            <span>
                <a href="">
                    <img src="assets/showcase/images/primeng-logo-{{config.dark ? 'light' : 'dark'}}.svg" alt="PrimeNG"
                        class="landing-header-logo">
                </a>
            </span>

            <div class="flex align-items-center">
                <nav class="scalein origin-top">
                    <ol
                        class="list-none m-0 p-0 flex flex-column lg:flex-row flex-wrap lg:flex-nowrap lg:align-items-center font-semibold">
                        <li class="mr-0 lg:mr-2">
                            <a [routerLink]="['home']">
                                <img src="assets/showcase/images/landing/templates-icon.svg" alt="Primeng templates">
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="mr-0 lg:mr-2">
                            <a [routerLink]="['netas']">
                                <img src="assets/showcase/images/landing/core-icon.svg" alt="Primeng core">
                                <span>Netas</span>
                            </a>
                        </li>
                        <li class="mr-0 lg:mr-2">
                            <a [routerLink]="['admin-dashboard']">
                                <img src="assets/showcase/images/landing/blocks-icon.svg" alt="Primeng blocks">
                                <span>Admin</span>
                            </a>
                        </li>
                        <li class="mr-0 lg:mr-2">
                            <a [routerLink]="['dashboard']">
                                <img src="assets/showcase/images/landing/designer-icon.svg" alt="Primeng designer">
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="mr-0 lg:mr-2">
                            <a [routerLink]="['home']">
                                <img src="assets/showcase/images/landing/templates-icon.svg" alt="Primeng templates">
                                <span>Settings</span>
                            </a>
                        </li>

                        <p-overlayPanel #op>
                            <ng-template pTemplate>
                                Hi
                            </ng-template>
                        </p-overlayPanel>

                    </ol>
                </nav>

                <a *ngIf="(stateService.appSettingsSubject | async)?.uid" (click)="userop.toggle($event)" class="mr-2">
                    User
                </a>

                <a *ngIf="!(stateService.appSettingsSubject | async)?.uid" (click)="openLoginDialog()"
                    rel="noopener noreferrer"
                    class="linkbox p-0 header-button mr-2 flex align-items-center justify-content-center flex-shrink-0">
                    <i class="pi pi-github"></i>
                </a>

                <a *ngIf="language$ | async as language" class="ml-2">
                    {{language.toUpperCase()}}
                </a>

                <span *ngIf="language$ | async as language" class="mr-2">
                    <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">
                        <mat-option *ngFor="let l of languages" [value]="l">
                            {{ l.toUpperCase() }}
                        </mat-option>
                    </mat-select>
                </span>

                <button type="button"
                    class="linkbox header-button inline-flex align-items-center justify-content-center"
                    (click)="toggleDarkMode()">
                    <i class="pi pi-{{config.dark ? 'sun' : 'moon'}}"></i>
                </button>

                <button
                    class="linkbox header-button inline-flex align-items-center justify-content-center ml-2 menu-button"
                    (click)="menuActive = !menuActive">
                    <i class="pi pi-bars"></i>
                </button>
            </div>
        </section>

        <p-overlayPanel [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #userop [dismissable]="true"
            [showCloseIcon]="true">
            <ng-template pTemplate>

                <button type="button"
                    class="linkbox header-button inline-flex align-items-center justify-content-center"
                    (click)="onLogoutClick()">
                    Logout
                </button>

            </ng-template>
        </p-overlayPanel>

    </div>

    <div class="layout-content">
        <div class="layout-content-inner h-full">
            <router-outlet></router-outlet>
        </div>

        <nav class="mobile-bottom-nav {{config.dark ? 'bottom-nav-dark' : 'bottom-nav-light'}}">
            <div class="mobile-bottom-nav__item " *ngFor="let item of navigation" [routerLink]="[item.link]"
                routerLinkActive="active">
                <div class="mobile-bottom-nav__item-content">
                    <i class="material-icons">{{item.icon}}</i>
                    <span>{{item.label | translate}}</span>
                </div>
            </div>
        </nav>

        <app-footer></app-footer>
    </div>

</div>