<div class="main-area-header">
    <div class="search-wrapper" id="searchLine">
        <input class="search-input" type="text" placeholder="Search" />
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search" viewBox="0 0 24 24">
            <defs />
            <circle cx="11" cy="11" r="8" />
            <path d="M21 21l-4.35-4.35" />
        </svg>
    </div>
</div>

<section class="content-section">
    <h1 class="section-header">Groups</h1>
</section>
<span class="addGroup"><i class="glyphicon glyphicon-plus"></i> Add Group</span>
<button mat-button (click)="openDialog()">Open dialog</button>

<app-groups-list [groups]="groups$ | async" (connectNeta)="handleMessageNeta($event)" (viewNetaDetails)="handleViewNetaDetails($event)"></app-groups-list>
