<div class="content">
    <div class="today">
        <div>Home, 9 Jan</div>
        <div>-$430.08</div>
    </div>
    <div class="transaction">
        <div class="transaction__who transaction__who--apple">
            <figure><img src="https://i.ibb.co/Br7zP94/apple.png"></figure>
            <div class="transaction__who__about">
                <div class="transaction__who__name">Apple</div>
                <div class="transaction__who__type">Appliances</div>
            </div>
        </div>
        <div class="transaction__data">
            <div class="transaction__data__amount">- $1897.00</div>
            <div class="transaction__data__date">11:45 AM</div>
        </div>
    </div>
    <div class="transaction">
        <div class="transaction__who transaction__who--tom">
            <figure><img src="https://i.ibb.co/QMx2mJv/tom.png"></figure>
            <div class="transaction__who__about">
                <div class="transaction__who__name">Tom S.</div>
                <div class="transaction__who__type">Refill</div>
            </div>
        </div>
        <div class="transaction__data">
            <div class="transaction__data__amount transaction__data__amount--depot">+ $250.00</div>
            <div class="transaction__data__date">11:45 AM</div>
        </div>
    </div>
    <div class="transaction">
        <div class="transaction__who transaction__who--amazon">
            <figure><img src="https://i.ibb.co/f06Bptb/amazon.png"></figure>
            <div class="transaction__who__about">
                <div class="transaction__who__name">Amazon</div>
                <div class="transaction__who__type">Purchases</div>
            </div>
        </div>
        <div class="transaction__data">
            <div class="transaction__data__amount">- $32.76</div>
            <div class="transaction__data__date">4:12 AM</div>
        </div>
    </div>
    <div class="transaction">
        <div class="transaction__who transaction__who--tom">
            <figure><img src="https://i.ibb.co/QMx2mJv/tom.png"></figure>
            <div class="transaction__who__about">
                <div class="transaction__who__name">Tom S.</div>
                <div class="transaction__who__type">Refill</div>
            </div>
        </div>
        <div class="transaction__data">
            <div class="transaction__data__amount transaction__data__amount--depot">+ $250.00</div>
            <div class="transaction__data__date">11:45 AM</div>
        </div>
    </div>
    <div class="transaction">
        <div class="transaction__who transaction__who--amazon">
            <figure><img src="https://i.ibb.co/f06Bptb/amazon.png"></figure>
            <div class="transaction__who__about">
                <div class="transaction__who__name">Amazon</div>
                <div class="transaction__who__type">Purchases</div>
            </div>
        </div>
        <div class="transaction__data">
            <div class="transaction__data__amount">- $32.76</div>
            <div class="transaction__data__date">4:12 AM</div>
        </div>
    </div>
    <div class="transaction">
        <div class="transaction__who transaction__who--tom">
            <figure><img src="https://i.ibb.co/QMx2mJv/tom.png"></figure>
            <div class="transaction__who__about">
                <div class="transaction__who__name">Tom S.</div>
                <div class="transaction__who__type">Refill</div>
            </div>
        </div>
        <div class="transaction__data">
            <div class="transaction__data__amount transaction__data__amount--depot">+ $250.00</div>
            <div class="transaction__data__date">11:45 AM</div>
        </div>
    </div>
    <div class="transaction">
        <div class="transaction__who transaction__who--amazon">
            <figure><img src="https://i.ibb.co/f06Bptb/amazon.png"></figure>
            <div class="transaction__who__about">
                <div class="transaction__who__name">Amazon</div>
                <div class="transaction__who__type">Purchases</div>
            </div>
        </div>
        <div class="transaction__data">
            <div class="transaction__data__amount">- $32.76</div>
            <div class="transaction__data__date">4:12 AM</div>
        </div>
    </div>
</div>
<div class="content">
    <div class="transaction">
        <div class="transaction__who">
            <div class="transaction__who__about">
                <div class="transaction__who__name">Deposit</div>
            </div>
        </div>
        <div class="transaction__data">
            <div class="transaction__data__amount transaction__data__amount--depot">+ $250.00</div>
            <div class="transaction__data__date">11:45 AM</div>
        </div>
    </div>
</div>