<section class="content-section">
    <h1 class="section-header">States</h1>
</section>
<button mat-button (click)="addStateFn()">addStateFn</button>
<button mat-button (click)="addConstituencyFn()">addConstituencyFn</button>
<button mat-button (click)="addVillageFn()">addVillageFn</button>

<app-groups-list [groups]="states$ | async" (toggleState)="handleToggleState($event)"
    (connectNeta)="handleMessageNeta($event)" (addDistrict)="addDistrictFn($event)"
    (viewNetaDetails)="handleViewNetaDetails($event)"></app-groups-list>